{% extends "order/base.html" %}
{% block content %}
    <div class="container" style="width: 40%; margin:50px auto;">
        {% if response.email or response.phone_no %}
        <div class="card">
            <div class="card-header text-center">Update Order Information</div>
            <div class="card-body">
                <div class="alert alert-primary" id="message" role="alert" style="display: none;"></div>
                {% if response.phone_no %}
                <div class="form-group">
                    <label for="phone_no">Change phone number</label>
                    <input type="text" class="form-control" id="phone_no" name = "phone_no" placeholder="{{ response.phone_no }}" required/>
                    <small id="phone_no" class="form-text text-muted">Country code is required and don't use spaces.</small><br>
                    <button class="form-control btn btn-primary" id="phone-update">Update</button>
                </div>
                {% endif %}
                {% if response.email %}
                <div class="form-group">
                    <label for="email">Change email address</label>
                    <input type="email" class="form-control" id="email" name = "email" placeholder="{{ response.email }}" required/><br>
                    <button class="form-control btn btn-primary" id="email-update">Update</button>
                </div>
                {% endif %}
            </div>
            {% else %}
            <p> No Order exist with order id {{ response.order_id }} or Couldn't get data try later..</p>
            {% endif %}
            <a href="{{ url_for('order.index') }}" class="text-center">Back to homepage</a><br>
        </div>
    </div>
    <script type="text/javascript">
        function popup(message){
            $("#message").text(message);
            $("#message").css("display", "block");
        }

        function valid_phone_no(phone_no){
            phone = phone_no.slice(1, phone_no.length)
            if(phone_no[0] !== '+' || phone.match(/[^0-9]/) !== null || phone.length < 7 || phone.length > 15){
                popup("Phone number length should be between 7 to 15, and it shouldn't contains any characters.");
                return false;
            }
            $("#message").css("display", "none");
            return true;
        }

        function valid_email(email){
            let pattern = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/; 
            if(! pattern.test(email) || email.length < 5){
                popup("Invalid email address");
                return false;
            }
            $("#message").css("display", "css");
            return true;
        }

        $("#email-update").click(function(){
            let email = $("#email").val();
            if(valid_email(email)){
                $.ajax({
                    type: "POST",
                    url: "{{ url_for('order.update_email' )}}?order_id=" + {{ response.order_id }} + "&email=" + email,
                    success: function(response){
                        popup(response);
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        notify("Request Failed.");
                    }
                });
            }
        });
        $("#phone-update").click(function(){
            let phone_no = $("#phone_no").val();
            console.log(phone_no)
            if(valid_phone_no(phone_no)){
                $.ajax({
                    type: "POST",
                    url: "{{ url_for('order.update_phone' )}}?order_id=" + {{ response.order_id }} + "&phone_no=" + phone_no,
                    success: function(response){
                        popup(response);
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        notify("Request Failed.");
                    }
                });
            }
        });
    </script>
{% endblock %}